<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>1x</string>
				<string>1.5x</string>
				<string>2x</string>
				<string>3x</string>
				<string>5x</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<real>1.5</real>
				<integer>2</integer>
				<integer>3</integer>
				<integer>5</integer>
			</array>
			<key>Title</key>
			<string>Minimum Magnification</string>
			<key>Key</key>
			<string>minimumMagnification</string>
			<key>DefaultValue</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
